/node_modules
/playwright-report
/test-results
/.env
/.idea
/.vscode
/dist
/coverage
/k6/results
/dist-k6
/extensions
/.cache-synpress
# wallets
wallets/sol-wallets.csv
wallets/*.json
!wallets/README.md
# OS
.DS_Store
Thumbs.db

# Logs
*.log

# npm debug files
npm-debug.log*
yarn-error.log*
